{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
 <body>
    
    
    
    
    
    
    
    
    
    
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
                        
                        
                        <!----------- Header ------------------------------------------------------------------>
                        <tr>
                            <td align="center" bgcolor="#ffd777" style="padding: 20px 0 10px 0;">
                                <img src="http://ducksoup.us/static/icons/icon_256.png" alt="ducksoup logo" width="256" height="256" style="display: block;" />
                            </td>
                        </tr>
                        <!----------------------------------------------------------------------------->
                        
                        
                        <!----------- Body ------------------------------------------------------------------>
                        <tr>
                             <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    
                                    <!----------- Title ------------------------------------------------------------------>
                                    <tr>
                                        <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                                            <b>Duck Soup eSheet Was Shared With You!</b>
                                        </td>
                                    </tr>
                                    <!---------------------------------------------------------------------------->
                                    
                                    
                                    <!----------- 1 Column ------------------------------------------------------------------>
                                    <tr>
                                        <td>
                                         
                                         <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                             <td width="260" valign="top">
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                               <tr>
                                                <td style="padding: 25px 0 0 0;">
                                                  <span>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }} ({{ user.email }}) shared an eSheet named "<a href="http://ducksoup.us{% url "worksheet_project.views.showNextPage" worksheet.id 1 %}">{{ worksheet.title|title }}</a>" with you.</span>

                                                </td>
                                               </tr>
                                              </table>
                                             </td>
                                            </tr>
                                        </table>
                                         
                                        </td>
                                    </tr>
                                    <!----------- 1 Column ------------------------------------------------------------------>
                                    <tr>
                                        <td>
                                         
                                         <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                             <td width="260" valign="top">
                                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                               <tr>
                                                <td style="padding: 50px 0 0 0;">
                                                    <h4>Ducksoup Inc.</h4>
                                                </td>
                                               </tr>
                                              </table>
                                             </td>
                                            </tr>
                                        </table>
                                         
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <!----------------------------------------------------------------------------->
                        
                        
                        <!----------- Footer ------------------------------------------------------------------>
                        <tr>
                            <td bgcolor="#ffd777" style="padding: 30px 30px 30px 30px;color:#424a5d;">
                                
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td style="color: #424a5d; font-family: Arial, sans-serif; font-size: 14px;">
                                            &reg; Webmaster, Ducksoup Inc. 2015<br/>
                                        </td>
                                        <td align="right" style="color: #424a5d;">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                             <tr>
                                              <td>
                                               <a href="https://plus.google.com/u/0/115618950203994327954/about" style="color: #424a5d;"><font color="#424a5d">
                                                <img src="http://ducksoup.us/static/icons/googlebtn.png" alt="Google" width="40" height="40" style="display: block;" border="0" />
                                               </a>
                                              </td>
                                              <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                              <td>
                                               <a href="https://twitter.com/ducksoupinc" style="color: #424a5d;"><font color="#424a5d">
                                                <img src="http://ducksoup.us/static/icons/twitterBtn.png" alt="Twitter" width="40" height="40" style="display: block;" border="0" />
                                                
                                               </a>
                                              </td>
                                              <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                                              <td>
                                               <a href="https://www.facebook.com/pages/Duck-Soup-Inc/1435783753413226?skip_nax_wizard=true&ref_type=logout_gear" style="color: #424a5d;"><font color="#424a5d">
                                                <img src="http://ducksoup.us/static/icons/facebookBtn.png" alt="Pinterest" width="40" height="40" style="display: block;" border="0" />
                                                
                                               </a>
                                              </td>
                                             </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                
                            </td>
                        </tr>
                        <!----------------------------------------------------------------------------->
                        
                        
                    </table>
                </td>
            </tr>
        </table>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>