
{% if not error %}
    <div>You have completed this e-sheet {{ myGrade.timesGraded }} time{{ myGrade.timesGraded|pluralize }}.</div>
    <br>
    <table class="table table-bordered table-striped table-condensed cf">
        <thead class="cf">
            <tr class="info">
                <th class="numeric text-center">Page</th>
                <th class="numeric text-center">Question</th>
                <th class="text-center">Question Type</th>
                <th class="numeric text-center">Points</th>
                <th class="numeric text-center" colspan="2">Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in allMyAnswers %}
            <tr>
                <td class="numeric text-center">{{ answer.answer.pageNumber }}</td>
                <td class="numeric text-center">{{ answer.answer.questionNumber }}</td>
                
                {% if answer.answer.inputType == "select" %}
                <td class="text-center">Multiple Choice</td>
                {% elif answer.answer.inputType == "textarea" %}
                <td class="text-center">Paragraph</td>
                {% else %}
                <td class="text-center">{{ answer.answer.inputType|capfirst }}</td>
                {% endif %}
                
                <td class="numeric text-center">{{ answer.answer.points }}</td>
                <td class="text-center">
                    {% if answer.answer.inputType == "textarea" %}
                        written response
                    {% elif answer.answer.inputType == "select" %}
                        {% if answer.myAnswer == 'option1' %}{{ answer.answer.option1 }}{% endif %}
                        {% if answer.myAnswer == 'option2' %}{{ answer.answer.option2 }}{% endif %}
                        {% if answer.myAnswer == 'option3' %}{{ answer.answer.option3 }}{% endif %}
                        {% if answer.myAnswer == 'option4' %}{{ answer.answer.option4 }}{% endif %}
                    {% elif answer.answer.inputType == "checkbox" %}
                        {% if answer.myAnswer == 'true' %}Checked{% else %}Not Checked{% endif %}
                    {% else %}
                        {{ answer.myAnswer }}
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if answer.bCorrect %}
                    <span class="fa fa-check fa-lg text-success"></span>
		    {% elif answer.partialCredit %}
                    <span class="fa fa-check fa-lg text-success"></span>
                    {% else %}
                    <span class="fa fa-times-circle fa-lg text-danger"></span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="success text-center text-primary" colspan="4">total points possible:</td>
                <td class="success numeric text-center text-primary" colspan="2">{{ myGrade.pointsPossible }}</td>
            </tr>
            <tr>
                <td class="success text-center text-primary" colspan="4">total points earned:</td>
                <td class="success numeric text-center text-primary" colspan="2">{{ myGrade.pointsEarned|floatformat:2 }}</td>
            </tr>
            <tr>
                <td class="warning text-center text-danger" colspan="4">average:</td>
                <td class="warning numeric text-center text-danger" colspan="2">{{ myGrade.average|floatformat:2 }}%</td>
            </tr>
        </tbody>
    </table>
    <br>
    <div id="attemptsLeft" data-options='{"attempts_left":{{ numberAttemptsLeft }}}'>
        You have {% if numberAttemptsLeft < 1 %}no{% else %}{{ numberAttemptsLeft }}{% endif %} more attempt{{ numberAttemptsLeft|pluralize }} left for this e-sheet.</div>
{% else %}
    {{ error }}
{% endif %}