{% extends "base.html" %}
{% load staticfiles %}
{% load googleDrive_tags %}

{% block title %}Select File{% endblock %}
    
    
    
    
{% block body %}
    

    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-color: #FFF;">
	<div class="text-center mb">
	  {% if googleUser %}
	  <img src="{% static "adminBoot/img/Google-Drive-icon.png" %}" alt="google drive" width="50px">
	  <span style="font-size: 14px;color: #000;">&nbsp;&nbsp;Your Google Drive</span>
	  {% else %}
	    <div class="row">
	    <div class="col-sm-4 col-sm-offset-4">
                <a href="{% url "worksheet_project.views.profile" %}"><button id="addGoogleBtn" class="btn btn-block btn-social btn-danger rounded google-authorize" type="button" style="height: 50px;">
                  <i class="fa fa-google-plus fa-2x" style="line-height: 30px;vertical-align: middle;"></i>
                  <span style="line-height: 30px;vertical-align: middle;">&nbsp;&nbsp;Connect with Google</span>
                </button></a>
	    </div></div>
	  {% endif %}
	  <h4 class="modal-title" style="color: #000;">Select a File to Convert to an E-Sheet...</h4>
	</div>
	
	<div id="tabPanel" role="tabpanel">

  <!-- Nav tabs -->
	  <ul id="fileTabs" class="nav nav-tabs" role="tablist">
	    {% if googleUser %}
	    <li role="presentation" class="active selectVisible"><a href="#docs" aria-controls="docs" role="tab" data-toggle="tab">
	      <img src="{% static "adminBoot/img/google_doc_icon.png" %}" alt="google doc">&nbsp;&nbsp;Documents</a>
	    </li>
	    <li role="presentation" class="selectVisible"><a href="#pdfs" aria-controls="pdfs" role="tab" data-toggle="tab">
	      <img src="{% static "adminBoot/img/google_pdf_icon.png" %}" alt="google doc">&nbsp;&nbsp;PDF's</a>
	    </li>
	    {% endif %}
	    <li role="presentation" class="uploadVisible{% if not googleUser %} active{% endif %}"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">
	      <i class="fa fa-upload"></i>&nbsp;&nbsp;Upload</a>
	    </li>
	  </ul>
	
	
	  <!-- Tab panes -->
	  <div class="tab-content">
	    {% if googleUser %}
	    <div role="tabpanel" class="tab-pane fade in active" id="docs">
	      
	      
	      <!---  Tabs for grid and list display ----------------->
	      <div class="row">
		<div class="col-xs-12 mt">
		  <button id="docListBtn" class="docListBtn btn btn-default"><i class="fa fa-list"></i></button>
		  <button class="docGridBtn btn btn-default"><i class="fa fa-th"></i></button>
		</div>
	      </div>
	      
	      <div id="docListView" class="row" style="display: none;">
		<div class="col-xs-12">
		  
              <table class="table table-striped" data-toggle="table" data-search="true" 
        data-pagination="true"  data-click-to-select="true" data-select-item-name="radioName"
	data-sort-name="lastViewed" data-sort-order="desc">
                <thead>
                  <tr>
		    <th data-field="state" data-radio="true"></th>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="owner" data-sortable="true">Owner</th>
                    <th data-field="lastViewed" data-sortable="true">Last Viewed</th>
                  </tr>
                </thead>
                <tbody>
		  {% if docFiles %}
		    {% for file in docFiles %}
		    <tr class="googleFileSelect">
		      <td></td>
		      <td>
			<img src="{% static "adminBoot/img/google_doc_icon.png" %}" alt="google doc">
			&nbsp;&nbsp;{{ file.title|title }}
			<span class="googleFileID hidden">{{file.id}}</span>
		      </td>
		      {% for owner in file.owners %}
			{% if owner.displayName == userInfo.user.get_full_name %}
		      <td>me</td>
			{%else%}
		      <td>{{ owner.displayName }}</td>
			{%endif%}
		      {% endfor %}
		      <td><span class="hidden">{{ file.lastViewedByMeDate }}</span>{{ file.lastViewedByMeDate|googleDate|date }}</td>
		    </tr>
		    {% endfor %}
		  {% endif %}
                </tbody>
              </table>
	      
		</div>
	      </div>  <!--------- End of docListView ------------->
	      
	      
	      <div id="docGridView" class="row">
		<div class="col-xs-12">
		  
		  <ul class="list-group">
		  {% if docFiles %}
		    {% for file in docFiles %}
		    <li class="list-item item-holder" data-fileid='{{ file.id }}'>
		      <div class="thumbHolder">
			<img src="{{ file.thumbnailLink }}" alt="thumbnail link">
		      </div>
		      <div class="fileName text-center" title="{{ file.title|title }}">
			<img src="{% static "adminBoot/img/google_doc_icon.png" %}" alt="google doc">
			&nbsp;&nbsp;{{ file.title|title }}</div>
		    </li>
		    {% endfor %}
		  {% endif %}
		  </ul>
		</div>
	      </div>  <!--------- End of docGridView ------------->
	
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="pdfs">
	      
	      <!---  Tabs for grid and list display ----------------->
	      <div class="row">
		<div class="col-xs-12 mt">
		  <button class="docListBtn btn btn-default"><i class="fa fa-list"></i></button>
		  <button class="docGridBtn btn btn-default"><i class="fa fa-th"></i></button>
		</div>
	      </div>
	      
	      
	      <div id="pdfListView" class="row" style="display: none;">
		<div class="col-xs-12">
		  
              <table class="table table-striped" data-toggle="table" data-search="true" 
        data-pagination="true"  data-click-to-select="true" data-select-item-name="radioName"
	data-sort-name="lastViewed" data-sort-order="desc">
                <thead>
                  <tr>
		    <th data-field="state" data-radio="true"></th>
                    <th data-field="name" data-sortable="true">Name</th>
                    <th data-field="owner" data-sortable="true">Owner</th>
                    <th data-field="lastViewed" data-sortable="true">Last Viewed</th>
                  </tr>
                </thead>
                <tbody>
		  {% if pdfFiles %}
		    {% for file in pdfFiles %}
		    <tr class="googleFileSelect">
		      <td></td>
		      <td>
			<img src="{% static "adminBoot/img/google_pdf_icon.png" %}" alt="google doc">
			&nbsp;&nbsp;{{ file.title|title }}
			<span class="googleFileID hidden">{{file.id}}</span>
		      </td>
		      {% for owner in file.owners %}
			{% if owner.displayName == userInfo.user.get_full_name %}
		      <td>me</td>
			{%else%}
		      <td>{{ owner.displayName }}</td>
			{%endif%}
		      {% endfor %}
		      <td><span class="hidden">{{ file.lastViewedByMeDate }}</span>{{ file.lastViewedByMeDate|googleDate|date }}</td>
		    </tr>
		    {% endfor %}
		  {% endif %}
                </tbody>
              </table>
	      
		</div>
	      </div>  <!----- End of pdfListView ----------->
	
	      <div id="pdfGridView" class="row">
		<div class="col-xs-12">
		  
		  <ul class="list-group">
		  {% if pdfFiles %}
		    {% for file in pdfFiles %}
		    <li class="list-item item-holder" data-fileid='{{ file.id }}'>
		      <div class="thumbHolder">
			<img src="{{ file.thumbnailLink }}" alt="thumbnail link">
		      </div>
		      <div class="fileName text-center" title="{{ file.title|title }}">
			<img src="{% static "adminBoot/img/google_pdf_icon.png" %}" alt="google doc">
			&nbsp;&nbsp;{{ file.title|title }}</div>
		    </li>
		    {% endfor %}
		  {% endif %}
		  </ul>
		</div>
	      </div>  <!--------- End of pdfGridView ------------->
	
	    </div>
	    {% endif %}
	    <div role="tabpanel" class="tab-pane fade{% if not googleUser %} in active{% endif %}" id="upload">
	      
		    <form id="upload-pdf-form" class="" action="{% url "worksheet_creator.views.createFromPDF" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		      
		      <div class="outline-fileUpload">
			<div class="col-xs-12 text-center">
			  <input id="uploadPDF" class="" type="file" name="uploadFile" checkExtension="true" required>
			  
			</div>
		      </div>
		    </form>
	    </div>
	  </div>
	
	</div>
	
	  <input type="hidden" id="googleFileID" value="">
	  
	<button id="selectBtn" {% if not googleUser %}style="display: none;"{% endif %} type="submit" form="upload-googleFile-form" class="btn btn-primary rounded mt">select</button>
	<button id="uploadBtn" {% if googleUser %}style="display: none;"{% endif %} type="submit" form="upload-pdf-form" class="btn btn-primary rounded mt">upload</button>
	<p style="font-size: 14px;" class="mt">all drive files were viewed within the last year</p>
      </div>
      
    </div>

<!---------------- modal ------------------------------------->
<div id="filAlreadyExistsPopup" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>A worksheet with this file already exists.  Creating a new one will delete your old worksheet.</p>
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">cancel</button>
        <button id="CreateNew" type="button" class="btn btn-primary rounded">create new</button>
        <button id="UpdateOld" type="button" class="btn btn-primary rounded">update old</button>
        <button id="PickNew" type="button" class="btn btn-primary rounded">pick a new file</button>
      </div>
    </div>
  </div>
</div>


{% if not googleUser %}
<!---------------- modal ------------------------------------->
<div id="upload-pdf-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">upload pdf file</h4>
      </div>
      <div class="modal-body">
	<form id="upload-pdf-form" class="form-horizontal style-form" action="{% url "worksheet_creator.views.createFromPDF" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		      <div class="form-group">
			<div class="col-sm-9">
			  <input class="form-control" type="file" name="uploadFile" checkExtension="true" required>
			</div>
		      </div>
	</form>
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">cancel</button>
        <button type="submit" form="upload-pdf-form" class="btn btn-primary rounded">upload</button>
      </div>
    </div>
  </div>
</div>
<!---->

{% endif %}

	  <div id="login-page" style="z-index: 10000000;position: fixed;left: 0;right: 0;bottom: 0;top: 0;display: none;">
	  	<div class="container">
		  <div class="row">
		    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center" style="margin-top: 10%;color: #fff;">
		      <div><img class="" src="{% static "index/img/duck-banner.png" %}" alt="logo"/></div>
		      <div><i class="fa fa-circle-o faa-burst animated" style="color: #fff;font-size: 50px; margin-top: 20px;"></i></div>
		      <div id="message" style="margin-top: 20px;font-size: 20px;" class="faa-passing animated">creating your worksheet...</div>
		    </div>
		  </div>
	  	</div>
	  </div>
<div id="shade"></div>
<div id="wait"></div>
<div id="wait-spinner"></div>


<script>
    var checkProjectExistsURI = "{% url "worksheet_creator.ajax.checkProjectExists" %}";
    var deleteOldProjectURI = "{% url "worksheet_creator.ajax.deleteOldProject" %}";
</script>
    
{% endblock %}





{% block modal %}
  
{% if googleUser and myTour %}
<!---------------- modal ------------------------------------->
<div id="tour-intro-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Welcome</h4>
      </div>
      <div class="modal-body">
	<div class="row">
	  <div class="text-center">
	    <img class="" src="{% static "adminBoot/img/Google-Drive-icon.png" %}" alt="google drive" width="200px">
	    <h1>Duck Soup Works with Your Google Drive</h1>
	  </div>
	</div>
	
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-danger rounded" data-dismiss="modal">Next</button>
      </div>
    </div>
  </div>
</div>
<!---->

{% endif %}
{% endblock %}







{% block extraScript %}
    <script src="{% static "adminBoot/js/bootstrap-table/bootstrap-table.js" %}"></script>
    <script src="{% static "google_drive/js/spin.js" %}"></script>
    <!-- The Google API Loader script. -->
    {% if googleUser %}
    <script src="{% static "google_drive/js/my-picker.js" %}"></script>
    <!--
    <script src="{% static "google_drive/js/pick-script.js" %}"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
    -->
    {% else %}
    <script src="{% static "google_drive/js/my-picker.js" %}"></script>
     <!--<script src="{% static "google_drive/js/noGoogle-script.js" %}"></script>-->
    {% endif %}
  
  
{% if myTour %}
  <script>
$(document).ready(function(){
    // using jQuery
    function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
	    var cookies = document.cookie.split(';');
	    for (var i = 0; i < cookies.length; i++) {
		var cookie = jQuery.trim(cookies[i]);
		// Does this cookie string begin with the name we want?
		if (cookie.substring(0, name.length + 1) == (name + '=')) {
		    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		    break;
		}
	    }
	}
	return cookieValue;
    }
    
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
	// these HTTP methods do not require CSRF protection
	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
	beforeSend: function(xhr, settings) {
	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		xhr.setRequestHeader("X-CSRFToken", csrftoken);
	    }
	}
    });
    
	//  Go to http://bootstraptour.com/api/ for documentation
	
	var tour = new Tour({
	    name: "tour",
	    steps: [
	      {% if not googleUser %}
		{
		  element: "#addGoogleBtn",
		  title: "Add Google",
		  content: "While this app will work without Google Drive, it is really meant to work with your Google Account...",
		  placement: 'bottom',
		},
	      {%endif%}
		{
		  {% if googleUser %}
		  element: "#fileTabs",
		  {% else %}
		  element: "#tabPanel",
		  {% endif %}
		  title: "File Type",
		  {% if googleUser %}
		  content: "Choose any document or pdf from your google drive or pdf from your computer...",
		  {% else %}
		  content: "Choose any pdf from your computer...",
		  {% endif %}
		  placement: 'top',
		},
		
		  {% if googleUser %}
		{
		  element: "#docGridView",
		  title: "Grid View",
		  content: 'You can use grid view to find your file...',
		  placement: 'top',
		},
		{
		  element: "#docListBtn",
		  title: "List View",
		  content: "Or switch to list view...",
		  backdrop: false,
		  onShow: function(tour){
		    $("#docListBtn").click();
		  }
		},
		{
		  element: "#docListView .search",
		  title: "Search",
		  content: "You could always search for a file...",
		  placement: 'top',
		},
		  {% endif %}
	    ],
	    container: "body",
	    keyboard: true,
	    storage: false,
	    debug: true,
	    backdrop: true,
	    backdropPadding: 5,
	    onEnd: function (tour) {
	      $.ajax({
		method: "POST",
		url: "{% url "tourBuilder.views.countTour" %}",
		data: { tourID: {{ myTour.id }} },
		dataType: "json",
	      })
		.done(function( responseText ) {
		  console.log( responseText );
		});
	    },
	});
	
	// Initialize the tour
	tour.init();
	
	// Start the tour
	//tour.start();
	{% if googleUser%}
	$("#tour-intro-modal").modal('show');
	$('#tour-intro-modal').on('hidden.bs.modal', function () {
	    tour.start();
	})
	{% else %}
	tour.start();
	{% endif %}
	
});
  </script>
{% endif %}
  
  
{% endblock %}








