{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Select File{% endblock %}
    
    
    {% block extraBottomHead %}
	{% include "includes/googlePicker.html" %}
    {% endblock %}
    
    
    
{% block body %}
    

    <div class="container theme-showcase" role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Pick a File!</h1>
        <p>Convert any pdf{% if googleUser %} or document from your computer or google drive.{%else%} to a worksheet.{%endif%}</p>
        <p><button id="openPicker" type="button" class="btn btn-primary btn-lg rounded">pick a file &raquo;</button></p>
      </div>
    </div>

<!---------------- modal ------------------------------------->
<div id="filAlreadyExistsPopup" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>A worksheet with this file already exists.  Creating a new one will delete your old worksheet.</p>
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">cancel</button>
        <button id="CreateNew" type="button" class="btn btn-primary rounded">create new</button>
        <button id="UpdateOld" type="button" class="btn btn-primary rounded">update old</button>
        <button id="PickNew" type="button" class="btn btn-primary rounded">pick a new file</button>
      </div>
    </div>
  </div>
</div>


{% if not googleUser %}
<!---------------- modal ------------------------------------->
<div id="upload-pdf-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">upload pdf file</h4>
      </div>
      <div class="modal-body">
	<form id="upload-pdf-form" class="form-horizontal style-form" action="{% url "worksheet_creator.views.createFromPDF" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		      <div class="form-group">
			<div class="col-sm-9">
			  <input class="form-control" type="file" name="uploadFile" checkExtension="true" required>
			</div>
		      </div>
	</form>
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">cancel</button>
        <button type="submit" form="upload-pdf-form" class="btn btn-primary rounded">upload</button>
      </div>
    </div>
  </div>
</div>
-->

	  <div id="login-page" style="z-index: 10000000;position: fixed;left: 0;right: 0;bottom: 0;top: 0;display: none;">
	  	<div class="container">
		  <div class="row">
		    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center" style="margin-top: 10%;color: #fff;">
		      <div><img class="" src="{% static "index/img/duck-banner.png" %}" alt="logo"/></div>
		      <div><i class="fa fa-circle-o faa-burst animated" style="color: #fff;font-size: 50px; margin-top: 20px;"></i></div>
		      <div id="message" style="margin-top: 20px;font-size: 20px;" class="faa-passing animated">creating your worksheet...</div>
		    </div>
		  </div>
	  	</div>
	  </div>
{% endif %}

<div id="shade"></div>
<div id="wait"></div>
<div id="wait-spinner"></div>


<script>
    var checkProjectExistsURI = "{% url "worksheet_creator.ajax.checkProjectExists" %}";
    var deleteOldProjectURI = "{% url "worksheet_creator.ajax.deleteOldProject" %}";
</script>
    
{% endblock %}



{% block extraScript %}
    <script src="{% static "google_drive/js/spin.js" %}"></script>
    <!-- The Google API Loader script. -->
    {% if googleUser %}
    <script src="{% static "google_drive/js/pick-script.js" %}"></script>
    <script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>
    {% else %}
    <script src="{% static "google_drive/js/noGoogle-script.js" %}"></script>
    {% endif %}
{% endblock %}








