{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Duck Soup | sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "adminBoot/css/bootstrap.css" %}" rel="stylesheet">
    <!--external css-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static "adminBoot/css/style.css" %}" rel="stylesheet">
    <link href="{% static "adminBoot/css/style-responsive.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    
  </head>
  
  

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
		      <form id="reset-password-form" class="form-login" action="{% url "google_login.views.passwordReset" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		        <h2 class="form-login-heading">reset password</h2>
		        <div class="login-wrap">
                            <input type="hidden" name="forgotID" value="{{ forgotID }}">
                            <input class="form-control" type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" required email="true" autofocus>
		            <br>
		            <input class="form-control" id="password1" type="password" name="password1" minlength="6" maxlength="40" required noSpace="true" value="" placeholder="password...">
		            <br>
		            <input id="password2" class="form-control" type="password" name="password2" required noSpace="true" value="" placeholder="confirm...">
		            <hr>
		            <button class="btn btn-theme btn-block" type="submit" form="reset-password-form"><i class="fa fa-lock"></i> Submit</button>
		        </div>
		      </form>
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static "adminBoot/js/bootstrap.min.js" %}"></script>
    <script src="{% static "adminBoot/js/jquery.form.js" %}"></script>
    
    <script src="{% static "adminBoot/js/login.js" %}"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="{% static "adminBoot/js/jquery.backstretch.min.js" %}"></script>
    <script>
        $.backstretch("{% static "adminBoot/img/login-bg.jpg" %}", {speed: 500});
    </script>

    

  </body>
</html>
