#dashboard .folderView {
  margin: 10px 5px; }
  #dashboard .folderView .panel {
    padding: 0;
    background-color: transparent;
    margin-bottom: 5px; }
    #dashboard .folderView .panel .panel-body {
      padding: 0;
      margin: 0px 3px;
      background-color: #FFF; }
      #dashboard .folderView .panel .panel-body .getFolder {
        cursor: pointer;
        background-color: #424a5d;
        height: 50px;
        overflow: hidden;
        margin-right: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-top: 12px; }
        #dashboard .folderView .panel .panel-body .getFolder .fa-folder {
          color: #ffd777; }
      #dashboard .folderView .panel .panel-body .worksheetListTitle {
        margin-top: 6px;
        cursor: pointer; }
      #dashboard .folderView .panel .panel-body .dropdown {
        color: inherit;
        margin-top: 7px; }
        #dashboard .folderView .panel .panel-body .dropdown .fa-ellipsis-v {
          cursor: pointer; }

#dashboard #worksheetListView {
  display: none; }
  #dashboard #worksheetListView .list-group {
    margin: 10px 5px; }
    #dashboard #worksheetListView .list-group .list-group-item {
      padding: 0; }
      #dashboard #worksheetListView .list-group .list-group-item .worksheetThumbListBg {
        background-color: #424a5d;
        height: 50px;
        overflow: hidden;
        margin-right: 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        padding-top: 12px; }
        #dashboard #worksheetListView .list-group .list-group-item .worksheetThumbListBg img {
          width: 20px; }
        #dashboard #worksheetListView .list-group .list-group-item .worksheetThumbListBg .fa-stack {
          margin-top: -4px; }
      #dashboard #worksheetListView .list-group .list-group-item .worksheetListTitle {
        margin-top: 6px; }
      #dashboard #worksheetListView .list-group .list-group-item .dropdown {
        color: inherit;
        margin-top: 7px; }
        #dashboard #worksheetListView .list-group .list-group-item .dropdown .fa-ellipsis-v {
          cursor: pointer; }
      #dashboard #worksheetListView .list-group .list-group-item .three-btn {
        margin-top: 4px; }

#dashboard #worksheetGridView {
  display: none; }

#dashboard .currentFolder {
  margin-bottom: 10px; }
