{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="icon" type="image/x-icon" href="{% static "adminBoot/img/duck.png" %}">

    <title>{% block title %}No Title{% endblock %}</title>

    {% block extraTopHead %}{% endblock %}
    
    <!-- Bootstrap core CSS -->
    <link href="{% static "adminBoot/css/bootstrap.css" %}" rel="stylesheet">
    <!--external css-->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="{% static "adminBoot/css/bootstrap-table.css" %}" rel="stylesheet">
    <link href="{% static "adminBoot/css/bootstrap-tour.css" %}" rel="stylesheet">
    <link href="{% static "adminBoot/css/style.css" %}" rel="stylesheet">
    <link href="{% static "adminBoot/css/style-responsive.css" %}" rel="stylesheet">
    <link href="{% static "adminBoot/css/font-awesome-animation.min.css" %}" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static "adminBoot/js/gritter/css/jquery.gritter.css" %}" />
    <!--
    <link rel="stylesheet" type="text/css" href="{% static "adminBoot/css/zabuto_calendar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "adminBoot/lineicons/style.css" %}">    

    
    <script src="{% static "adminBoot/js/chart-master/Chart.js" %}"></script>
    -->
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    
    {% block extraBottomHead %}{% endblock %}
    
    <!--<link href="{% static "adminBoot/css/auto_landscape.css" %}" rel="stylesheet">-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="{% url "worksheet_project.views.index" %}" class="logo">
              <img style="width:120%;max-width: 220px;margin:-5px 0 0 10px;" src="{% static "adminBoot/img/duck-bowl-spoon.svg" %}" alt="SimpleSheets" />
            </a>
            <!--logo end-->
            <div class="top-menu">
		  <form id="resetTour-form" action="{% url "tourBuilder.views.resetTour" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
            	<ul class="nav pull-right top-menu">
		  {% if tourReset %}
		  <input type="hidden" name="tourName" value="{{ tourReset }}">
		    <li>
		      <span id="resetTour" class="fa-stack fa-lg question-sidebar-btn">
			<i class="fa fa-circle fa-stack-2x"></i>
			<i class="fa fa-question fa-stack-1x fa-inverse"></i>
		      </span>
		    </li>
		  {% endif %}
                    <li><a class="logout" href="/google/logout/">Logout</a></li>
            	</ul>
		  </form>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered popovers" data-container="body"
			data-toggle="popover" data-placement="bottom" data-trigger="hover"
			data-content="update profile">
                    <a href="{% url "worksheet_project.views.profile" %}">
                      
                    <img id="profile-image" {% if googleUserInfo %}
                        src="{{ googleUserInfo.googleAvatar }}"
                      {% else %}
                        src="{% static "main_project/images/default_avatar.png" %}"
                      {% endif %}
                        alt="User photo" class="img-circle" width="60">
                      
              	  <h5 class="userName centered">{{ userInfo.user.first_name|capfirst }} {{ userInfo.user.last_name|capfirst }}</h5>
                  </a></p>
              	
                
                {% if classUser.teacher %}
                  <li class="mt">
                      <a class="{% if dashboard %}active{% endif %}" href="{% url "worksheet_project.views.dashboard" %}">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a class="{% if worksheet %}active{% endif %}" href="javascript:;" >
                          <i class="fa fa-file-word-o"></i>
                          <span>E-sheets</span>
                      </a>
                      <ul class="sub">
                          <li class="{% if create %}active{%endif%}"><a  href="{% url "google_drive.views.google_picker" %}">Create</a></li>
                          <li class="{% if assign %}active{%endif%}"><a  href="{% url "worksheet_project.views.assign" %}">Assign/Unassign</a></li>
                      </ul>
                  </li>
		{% endif %}

              {% if allClasses %}
                  <li class="sub-menu">
                      <a class="{% if currentClass %}active{%endif%} {% if not classUser.teacher %}active{% endif %}" href="javascript:;">
                        <i class="fa fa-users"></i>
                        <span>Classes</span>
                      </a>
                      <ul class="sub">
                {% for class in allClasses %}
                          <li class="{% ifequal class.id currentClass.id %}active{%endifequal%}">
                            <a  href="/classes/{{ class.id }}">{{ class.name|capfirst }}</a>
                          </li>
                {% endfor %}
                      </ul>
                  </li>
              {% else %}
                {% if classUser.teacher %}
                  <li id="blinky-class" class="sub-menu">
                      <a href="#" class="active" data-toggle="modal" data-target="#new-class">
                        <i class="fa fa-warning text-danger"></i>
                        <span class="text-danger" style="font-weight: bold;">CREATE A CLASS</span>
                      </a>
                  </li>
		{% else %}
                  <li id="blinky-class" class="sub-menu">
                      <a href="#" class="active" data-toggle="modal" data-target="#join-class">
                        <i class="fa fa-warning text-danger"></i>
                        <span class="text-danger" style="font-weight: bold;">JOIN A CLASS</span>
                      </a>
                  </li>
		{% endif %}
              {% endif %}
              
                {% if classUser.teacher %}
                <li id="newEsheetBtn" class="sub-menu">
                  <a class="btn btn-warning" href="{% url "google_drive.views.google_picker" %}">
                        <i class="fa fa-file-word-o" style="color: #424a5d;"></i>
                        <span style="color: #424a5d;">  new e-sheet</span>
                  </a>
                </li>
                {%endif%}
		
		
                <li class="sub-menu">
                  <a class="btn btn-warning" data-toggle="modal" data-target="{% if classUser.teacher %}#new-class{%else%}#join-class{%endif%}">
                        <i class="fa fa-users" style="color: #424a5d;"></i>
                        <span class="" style="color: #424a5d;">{% if classUser.teacher %} new class{%else%} join a class{%endif%}</span>
                  </a>
                </li>

              </ul>
              <!-- sidebar menu end-->
              
              
              
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper" style="">
                        
                        {% block body %}{% endblock %}
                        
		</section>  <!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
  </section>




      <!-- **********************************************************************************************************************************************************
      BASE MODAL POPUPS
      *********************************************************************************************************************************************************** -->

      {% block modal %}{% endblock %}
      
      
{% if classUser.teacher %}
<!-- *****************    Create a New Class   ******************************************************* -->
<div id="new-class" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">e-sheet settings</h4>
      </div>
      <div class="modal-body centered">
            <form id="create-class-form" class="form-horizontal style-form" action="{% url "classrooms.ajax.createGroup" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              
		      <div class="form-group">
			<label class="col-sm-3 control-label">Class Name</label>
			<div class="col-sm-9">
			  <input class="form-control" type="text" name="group_name" minlength="3" maxlength="40" required value="" placeholder="Class Name..." autofocus>
			  <span class="register-check register-check-error"></span>
			</div>
		      </div>
              
            </form>
	    
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button type="submit" form="create-class-form" class="btn btn-primary rounded">create</button>
      </div>
    </div>
  </div>
</div>



<!-- *****************    Create a New Class   ******************************************************* -->
<div id="share-worksheet-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Share eSheet with others</h4>
      </div>
      <div class="modal-body centered">
            <form id="share-worksheet-form" class="form-horizontal style-form" action="{% url "worksheet_creator.page_view_ajax.shareWorksheet" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		      <input id="share-worksheet-form-input" type="hidden" name="worksheetID" value="" required>
		      <div class="form-group">
			<label class="col-sm-3 control-label">email address</label>
			<div class="col-sm-9">
			  <input class="form-control" type="email" name="email" required value="" placeholder="email..." autofocus>
			</div>
		      </div>
		      <div class="form-group">
			<div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3">
			  <button type="button" class="class-button btn btn-block btn-success text-center rounded" onclick="$(this).toggleClass('btn-primary').toggleClass('btn-success');$('.classCheckButton').toggleClass('fa-check-square-o').toggleClass('fa-square-o');changeSendMail();">
			    <i class="classCheckButton fa fa-check-square-o fa-1x pull-left" style="line-height: 20px;vertical-align: middle;"></i>
			    <span style="line-height: 20px;vertical-align: middle;">&nbsp;&nbsp;send mail</span>
			  </button>
			  <input id="sendMail" type="hidden" name="sendMail" value="yes">
			  <script>
			    function changeSendMail() {
			      if ($('#sendMail').val()=='yes') {
				$('#sendMail').val('no');
			      }else{$('#sendMail').val('yes');}
			    }
			  </script>
			</div>
		      </div>
              
            </form>
	    
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">cancel</button>
        <button type="submit" form="share-worksheet-form" class="btn btn-primary rounded">share</button>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="renameWorksheet-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">rename e-sheet</h4>
      </div>
      <div class="modal-body text-center">
        
            <form id="rename-worksheetName-form" class="form-horizontal style-form" action="{% url "worksheet_creator.page_view_ajax.changeWorksheetName" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                <input id="worksheetFormWorksheetID" type="hidden" name="worksheetID" value="{{ currentProject.id }}">
		<label class="col-sm-3 control-label">E-sheet Name</label>
		  <div class="col-sm-9">
		    <input id="worksheetFormWorksheetName" class="form-control" type="text" name="worksheet_name" minlength="3" maxlength="95" required placeholder="E-sheet Name..." value="{{ currentProject.title|capfirst }}" autofocus>
		  </div>
	      </div>
              <div class="form-group">
		<label class="col-sm-3 control-label">Number of Attempts per Student</label>
		  <div class="col-sm-9">
		    <input id="worksheetFormNumberOfRetry" class="form-control" type="number" name="numberOfRetry" min="1" step="1" pattern="\d+" value="{{ currentProject.numberOfRetry }}" required>
		  </div>
	      </div>
            </form>
                  
                  
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button type="submit" form="rename-worksheetName-form" class="btn btn-primary rounded">update</button>
      </div>
    </div>
  </div>
</div>


            <form id="toggle-lock-worksheet-base-form" class="" action="{% url "worksheet_creator.page_view_ajax.toggleLockWorksheet" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="">
                <input id="toggle-lock-worksheet-base-form-WorksheetID" type="hidden" name="worksheetID" value="{{ currentProject.id }}">
              </div>
            </form>

		<form id="forceTurnIn-baseForm" action="{% url "worksheet_creator.page_view_ajax.forceGradeWorksheet" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		  <input id="forceTurnIn-baseForm-WorksheetID" type="hidden" name="project_id" value="{{ worksheet.id }}">
                </form>
		
		
		<form id="print-student-work-form" action="{% url "worksheet_creator.views.printStudentWork" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
		  <input id="print-student-work-form-WorksheetID" type="hidden" name="project_id" value="{{ worksheet.id }}">
                </form>

{% else %}
<!-- *****************    Join a New Class   ******************************************************* -->
<div id="join-class" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">join a class</h4>
      </div>
      <div class="modal-body centered">
            <form id="join-class-form" class="form-horizontal style-form" action="{% url "classrooms.ajax.joinGroup" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              
		      <div class="form-group">
			<label class="col-sm-3 control-label">Class Code</label>
			<div class="col-sm-9">
			  <input class="form-control" type="text" name="groupCode" minlength="3" maxlength="6" required value="" placeholder="Class Code..." autofocus>
			  <span class="register-check register-check-error"></span>
			</div>
		      </div>
              
            </form>
	    
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button type="submit" form="join-class-form" class="btn btn-primary rounded">join</button>
      </div>
    </div>
  </div>
</div>
{% endif %}



<!-- *****************    Delete A Worksheet   ******************************************************* -->
<div id="delete-worksheet" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Delete?</h4>
      </div>
      <div class="modal-body centered">
            <form id="delete-worksheet-form" class="form-horizontal style-form" action="{% url "worksheet_creator.page_view_ajax.deleteProject" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <input id="worksheetID-hidden-input" type="hidden" name="worksheetID" value="">
	      <div>Are you sure you want to <span class="text-danger">delete</span> this e-sheet?</div>
            </form>
	    
      </div>
      <div class="modal-footer bottom-rounded">
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">no</button>
        <button type="submit" form="delete-worksheet-form" class="btn btn-danger rounded">DELETE</button>
      </div>
    </div>
  </div>
</div>



      <!-- **********************************************************************************************************************************************************
      END OF MODAL POPUPS
      *********************************************************************************************************************************************************** -->

    <!-- js placed at the end of the document so the pages load faster -->
    
    <script src="{% static "adminBoot/js/bootstrap.min.js" %}"></script>
    <script src="{% static "adminBoot/js/bootstrap-tour.js" %}"></script>
    <script src="{% static "adminBoot/js/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script src="{% static "adminBoot/js/jquery.ui.touch-punch.min.js" %}"></script>
    <script class="include" type="text/javascript" src="{% static "adminBoot/js/jquery.dcjqaccordion.2.7.js" %}"></script>
    <script src="{% static "adminBoot/js/jquery.scrollTo.min.js" %}"></script>
    <script src="{% static "adminBoot/js/jquery.nicescroll.js" %}" type="text/javascript"></script>
    <script src="{% static "adminBoot/js/jquery.form.js" %}"></script>
    
    



    <!--common script for all pages-->
    <script>
      var forceGradeWorksheetURL = "{% url "worksheet_creator.page_view_ajax.forceGradeWorksheet" %}"
    </script>
    <script src="{% static "adminBoot/js/common-scripts.js" %}"></script>
    
    

    
    <script type="text/javascript" src="{% static "adminBoot/js/gritter/js/jquery.gritter.js" %}"></script>
    <script type="text/javascript" src="{% static "adminBoot/js/gritter-conf.js" %}"></script>

    <!--script for this page--
    <script src="{% static "adminBoot/js/jquery.sparkline.js" %}"></script>
    <!--<script src="{% static "adminBoot/js/sparkline-chart.js" %}"></script>-->
    
    
    <!--script for this page-->
    <script>
      {% if not allClasses %}
	setInterval(function(){
	  $("#blinky-class a").toggleClass("active");
	},500);
      {% endif %}
      
      {% if tourReset %}
	$("#resetTour").click(function(){
	  $("#resetTour-form").submit();
	});
	
	
	$('#resetTour-form').ajaxForm({ 
	    success:       function(responseText){
		if (responseText.error) {
		    alert(responseText.error);
		}else{
		    location.reload();
		}
	    },
	    dataType:  'json',
	    timeout:   4000 
	}); 
      {% endif %}
      
      {% if classUser.teacher and not bPaidUp %}
      $.gritter.add({
	  text: "<a href='{% url 'worksheet_project.views.initiatePayment' %}' class='btn btn-danger btn-block btn-lg'>GET DUCKPRO</a><div class='text-center' style='font-size:30px;'>Just $9.99/mo</div>",
	  fade: true,
	  speed: "fast"
      });
      {% endif %}
    </script>

  {% block extraScript %}{% endblock %}
  
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-63524996-1', 'auto');
      ga('send', 'pageview');
    
    </script>
    
  </body>
</html>
