{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Classes{% endblock %}

{% block body %}



  <div class="row mt">
    <div class="col-xs-12 col-sm-6">
      <a id="class-title" data-toggle="modal" data-target="#class-settings">
        <h1><i class="fa fa-angle-double-right"></i>  {% if currentClass %}{{ currentClass.name|capfirst }}{%endif%}  <i class="fa fa-gears"></i></h1>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 mt">
        {% if classUser.teacher %}
          {% if currentClass %}
          <div class="col-xs-12 col-sm-6">
              <button id="class-code-container" class="btn btn-block btn-lg btn-warning rounded space" data-toggle="modal" data-target="#class-code">
                Class code: <span class="class-code">{{ currentClass.code }}</button>
              </button>
          </div>
          {% endif %}
          <br class="visible-xs">
        {%endif%}
    </div>
  </div> <!-- end of row -->
  
  <div class="row">
    <div class="col-xs-12">
        <h3 class="text-default">Assignments</h3>
{% if currentClass and currentClass.worksheets.all %}
        <ul class="row list-unstyled">
          
          {% for worksheet in currentClass.worksheets.all reversed %}
          <!------------------------------ Worksheet Display ------------------------------------->
          <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <div class="content-panel pn">
              <div id="profile-01" class="bg{{ randomNumber|random }}">
                <img src="{{ worksheet.thumb }}" alt="worksheet">
              </div>
              <div class="profile-01 centered">
                <a href="{% url "worksheet_project.views.worksheet_display" worksheet.id %}"><p>{{ worksheet.title|capfirst }}</p></a>
              </div>
              <div class="centered">
                <a href="{% url "worksheet_project.views.showNextPage" worksheet.id 1 %}"><button type="button" class="col-xs-4 btn btn-default" data-container="body"
                  data-toggle="popover" data-placement="bottom" data-trigger="hover"
                  data-content="{% if classUser.teacher %}Edit{%else%}Work{%endif%}">
                  <i class="fa fa-edit fa-2x"></i>
                </button></a>
                <a href="{% if classUser.teacher %}{% url "worksheet_project.views.monitor" worksheet.id %}{%else%}{% url "worksheet_project.views.worksheet_display" worksheet.id %}{%endif%}"><button type="button" class="col-xs-4 btn btn-default" data-container="body"
                  data-toggle="popover" data-placement="bottom" data-trigger="hover"
                  data-content="{% if classUser.teacher %}Monitor{%else%}Score{%endif%}">
                  <i class="fa fa-bar-chart-o fa-2x"></i>
                </button></a>
                {% if classUser.teacher %}
                <button type="button" class="col-xs-4 btn btn-default" data-container="body"
                  data-toggle="popover" data-placement="bottom" data-trigger="hover"
                  data-content="Delete" onclick="$('#worksheetID-hidden-input').val({{ worksheet.id }});$('#delete-worksheet').modal('show');">
                  <i class="fa fa-trash-o fa-2x"></i>
                </button>
                {% endif %}
              </div>
            </div>
          </div><! --/col-md-4 -->
          <!------------------------------ End of Worksheet Display ------------------------------------->
          {% endfor %}
          
        </ul>
{% else %}
  <h5>Sorry, there are no assignments yet.</h5>
{% endif %}
    </div>
  </div>


{% endblock %}  <!-- end of body block -->

{% block modal %}


{% if currentClass and classUser.teacher %}
<!---------------- modal ------------------------------------->
<div id="class-code" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">class code</h4>
      </div>
      <div class="modal-body text-center text-danger">
        
        <span style="font-size: 600%;font-weight: bold;">{{ currentClass.code }}</span>
        
      </div>
    </div>
  </div>
</div>




<!---------------- modal ------------------------------------->
<div id="class-settings" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">class settings</h4>
      </div>
      <div class="modal-body text-center">
        
            <form id="change-className-form" class="form-horizontal style-form" action="{% url "classrooms.ajax.changeGroupName" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                <input type="hidden" name="groupID" value="{{ currentClass.id }}" />
		<label class="col-sm-3 control-label">Class Name</label>
		<div class="col-sm-9">
		  <input class="form-control" type="text" name="group_name" minlength="3" maxlength="40" required placeholder="Class Name..." value="{{ currentClass.name|capfirst }}" autofocus />
		  <span class="register-check register-check-error"></span>
		</div>
	      </div>
            </form>
                  
                  
            <form id="toggle-lock-form" class="form-horizontal style-form" action="{% url "classrooms.ajax.toggleLockGroup" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                <input type="hidden" name="groupID" value="{{ currentClass.id }}">
                <div class="col-sm-offset-4 col-sm-4">
                  {% if not currentClass.allowJoin %}
                  <button type="submit" class="btn btn-success btn-block"><i class="fa fa-unlock"></i>  unlock</button>
                  {% else %}
                  <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-lock"></i>  lock</button>
                  {% endif %}
                </div>
              </div>
            </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" aria-hidden="true" data-toggle="modal" data-target="#delete-yes-no">Delete this class</button>
        <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
        <button type="submit" form="change-className-form" class="btn btn-primary rounded">update</button>
      </div>
    </div>
  </div>
</div>



<!---------------- modal ------------------------------------->
<div id="delete-yes-no" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">delete this class?</h4>
      </div>
      <div class="modal-body text-center bottom-rounded">
        <div class="row">
          <form id="delete-class-form" class="form-horizontal style-form" action="{% url "classrooms.ajax.deleteGroup" %}" enctype='multipart/form-data' method="post">{% csrf_token %}
            <input name="myGroups" type="hidden" value="{{ currentClass.id }}" />
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-danger">yes</button>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-block btn-lg btn-default" data-dismiss="modal">no</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% if not currentClass.worksheets.all %}
  
<!---------------- modal ------------------------------------->
<div id="no-worksheets" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Oops! There are no worksheets.</h4>
      </div>
      <div class="modal-body text-center">
        <div class="row">
            <div class="col-xs-6">
              {% if userInfo.projects.all %}
              <a href="{% url "worksheet_project.views.assign" %}" ><button type="button" class="btn btn-block btn-lg btn-primary">assign worksheets</button></a>
              {% endif %}
            </div>
            <div class="col-xs-6">
              <a href="{% url "google_drive.views.google_picker" %}"><button type="button" class="btn btn-block btn-lg btn-primary">create worksheets</button></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>$(document).ready(function(){$("#no-worksheets").modal('show');});</script>
{% endif %}




{%endif%}


{% endblock %}  <!-- end of modal block -->




{% block extraScript %}
  <script src="{% static "adminBoot/js/classes.js" %}"></script>
{% endblock %}