{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Dashboard{% endblock %}

{% block extraBottomHead %}
    <link href="{% static "adminBoot/css/dashboard-style.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

          	<div class="row mt">
          		<div class="col-lg-12">
          		
					<! -- ROW OF PANELS -->
					<!-- Product Panel -->
					<div class="row">
{% if allProjects %}
          
          {% for worksheet in allProjects %}
          <!------------------------------ Worksheet Display ------------------------------------->
          <div class="col-lg-4 col-md-4 col-sm-4 mb">
            <div class="content-panel pn">
              <div id="profile-01" class="bg{{ randomNumber|random }}">
                {% if worksheet.thumb %}
                <img src="{{ worksheet.thumb }}" alt="worksheet">
                {% endif %}
              </div>
              <div class="profile-01 centered">
                <a href="{% url "worksheet_project.views.worksheet_display" worksheet.id %}"><p>{{ worksheet.title|capfirst }}</p></a>
              </div>
              <div class="centered">
                <a href="{% url "worksheet_project.views.showNextPage" worksheet.id 1 %}"><button type="button" class="col-xs-4 btn btn-default" data-container="body"
                  data-toggle="popover" data-placement="bottom" data-trigger="hover"
                  data-content="Edit">
                  <i class="fa fa-edit fa-2x"></i>
                </button>
                <a href="{% url "worksheet_project.views.monitor" worksheet.id %}"><button type="button" class="col-xs-4 btn btn-default" data-container="body"
                  data-toggle="popover" data-placement="bottom" data-trigger="hover"
                  data-content="Monitor">
                  <i class="fa fa-bar-chart-o fa-2x"></i>
                </button></a>
                <button type="button" class="col-xs-4 btn btn-default" data-container="body"
                  data-toggle="popover" data-placement="bottom" data-trigger="hover"
                  data-content="Delete" onclick="$('#worksheetID-hidden-input').val({{ worksheet.id }});$('#delete-worksheet').modal('show');">
                  <i class="fa fa-trash-o fa-2x"></i>
                </button>
              </div>
            </div>
          </div><! --/col-md-4 -->
          <!------------------------------ End of Worksheet Display ------------------------------------->
          {% endfor %}
          
{% else %}
  <h5>Sorry, there are no assignments yet.</h5>
{% endif %}
					</div><! --  ROW OF PANELS -->
          		
					
          		</div>
          	</div>

{% endblock %}

{% block modal %}
		          <!-- Modal -->
		          <div id="error-modal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">There was a problem!...I think?...</h4>
		                      </div>
		                      <div class="modal-body">
					<div class="row">
					  <div class="col-xs-12 text-center">
							<h4>{{ error|capfirst }}</h4>
					  </div>
					</div>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
{% endblock %}


{% block extraScript %}
    <script src="{% static "adminBoot/js/dashboard.js" %}"></script>
    
      {% if not classUser.teacher %}
	<script>
		window.location.href = "/classes/";
	</script>
      {% endif %}

    {% if error %}
    <script>
      $(document).ready(function(){
	
	$("#error-modal").modal("show");
	
      });
    </script>
    {% endif %}

{% endblock %}





