{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Payment{% endblock %}


{% block extraBottomHead %}
  <link href="{% static "index/css/pricing.css" %}" rel="stylesheet">
{% endblock %}


{% block body %}



  <div id="main-region" class="mt">
      <div class="row">
	<div class="col-xs-12">
          
          
          <div class="showback">
	    <div id="topImage-01" class="bg1">
              <div class="row">
                  <div id="profile-float-photo">
                    <img {% if googleUserInfo %}
                          src="{{ googleUserInfo.googleAvatar }}"
                        {% else %}
                          src="{% static "main_project/images/default_avatar.png" %}"
                        {% endif %}
                          alt="User photo" class="img-thumbnail img-circle">
                      
                  </div>
                </div> <!-- end of row -->
            </div>
	    <div id="profile-01" class="noBg" style="margin-top: 10px;">
                <div class="row">
                  <div class="col-xs-12">
		    
		        
	<div class="row">
	    <!---------------------------------------- price table ---------------------------->
	    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
		  <div class="pricing-table pricing-table-highlighted">
			<div class="pricing-table-header">
			      <span class="heading">Monthly</span>
			      <span class="price-value">$<span>9</span>.99/ mo<span class="mo"><!--/mo--></span></span>
			</div>
			<div class="pricing-table-space"></div>
			<div class="pricing-table-text">
			      <p><span class="attention" style="font-size: 25px;">GET STARTED</span></p>
			</div>
			<div class="pricing-table-features">
			      <p><i class="fa fa-check main-color"></i> <strong> Show Your Work</strong> Boxes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Classes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Students</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> eSheets</p>
			      <p><i class="fa fa-check main-color"></i> <strong> BYOD</strong> Works With Any Device</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Auto-Grading</strong> Reports and Downloads</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Live</strong> Student Monitoring</p>
			      <p><strong> Unlimited </strong> Support</p>
			</div>
			<div class="pricing-table-sign-up text-danger">
			      {{ monthlyForm.render }}
			      <h5>No Paypal Account?</h5>
			      <h5>Paypal Accepts Credit Cards!</h5>
			</div>
		  </div>
	    </div>
	    <!---------------------------------------- end of price table ---------------------------->

	    <!---------------------------------------- price table ---------------------------->
	    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
		  <div class="pricing-table pricing-table-highlighted">
			<div class="pricing-table-header">
			      <span class="heading">Yearly</span>
			      <span class="price-value">$<span>99</span>.99/ year<span class="mo"><!--/mo--></span></span>
			</div>
			<div class="pricing-table-space"></div>
			<div class="pricing-table-text">
			      <p><span class="attention" style="font-size: 25px;">2 MONTHS FREE</span></p>
			</div>
			<div class="pricing-table-features">
			      <p><i class="fa fa-check main-color"></i> <strong> Show Your Work</strong> Boxes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Classes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Students</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> eSheets</p>
			      <p><i class="fa fa-check main-color"></i> <strong> BYOD</strong> Works With Any Device</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Auto-Grading</strong> Reports and Downloads</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Live</strong> Student Monitoring</p>
			      <p><strong> Unlimited </strong> Support</p>
			</div>
			<div class="pricing-table-sign-up text-danger">
			      {{ yearlyForm.render }}
			      <h5>No Paypal Account?</h5>
			      <h5>Paypal Accepts Credit Cards!</h5>
			</div>
		  </div>
	    </div>
	    <!---------------------------------------- end of price table ---------------------------->
	    
	    <!---------------------------------------- price table ---------------------------->
	    <div class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0">
		  <div class="pricing-table">
			<div class="pricing-table-header">
			      <span class="heading">Free</span>
			      <span class="price-value">$<span>0</span><span class="mo"><!--/mo--></span></span>
			</div>
			<div class="pricing-table-space"></div>
			<div class="pricing-table-features">
			      <p><i class="fa fa-check main-color"></i> <strong>First Five</strong> Free E-sheets</p>
			      <p><strong> One Free</strong> E-sheet A Month</p>
			      <p><strong>Website</strong> Support</p>
			</div>
			<div class="pricing-table-sign-up">
			      <a href="{% url "worksheet_project.views.dashboard" %}" class="btn btn-large btn-block btn-primary">CONTINUE</a>
			</div>
		  </div>
	    </div>
	    <!---------------------------------------- end of price table ---------------------------->

			
	</div><!-- / row-fluid-->
	    
		    
                  
		  
		  
		  </div>
                </div>
                <br>
		  
		  <!-- PayPal Logo --><table class="mb" border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now Accepting PayPal"></a><div style="text-align:center"><a href="https://www.paypal.com/webapps/mpp/how-paypal-works"><font size="2" face="Arial" color="#0079CD">How PayPal Works</font></a></div></td></tr></table><!-- PayPal Logo -->
		  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
	    </div> <!-- end of profile-01 -->
          </div> <!-- end of showback -->
          
          
            
        </div>
            
      </div>
  </div> <!-- end of main-region -->
        
        
        

{% endblock %}  <!-- end of body block -->

{% block modal %}
<!---------------- modal ------------------------------------->
<div id="update-school" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">School</h4>
      </div>
      <div class="modal-body centered">
            <form id="update-school-form" class="form-horizontal style-form" action="{% url "userInfo_profile.views.school" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                <label class="col-sm-3 control-label">School Name</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="schoolName" minlength="3" maxlength="65" required value="{% if userInfo.school %}{{ userInfo.school|capfirst }}{%endif%}" placeholder="School Name..." autofocus>
                  <span class="register-check register-check-error"></span>
                </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-offset-6 col-xs-6 col-sm-3 col-sm-offset-9">
          <button id="update-school-submit-button" type="submit" form="update-school-form" class="btn btn-block btn-primary rounded">update</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="teacher-student" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <h4 class="modal-title">Who are you?</h4>
      </div>
      <div class="modal-body text-center bottom-rounded">
        <div class="row">
          <form id="update-teacherStudent-form" class="form-horizontal style-form" action="{% url "userInfo_profile.views.teacherStudent" %}" enctype='multipart/form-data' method="post">{% csrf_token %}
            <input id="teacher_or_student" name="teacherStudent" type="hidden" value="" />
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-success rounded" onclick="$('#teacher_or_student').val('teacher');">teacher</button>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-success rounded" onclick="$('#teacher_or_student').val('student');">student</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>







<!---------------- modal ----------------------------------->
<div id="reset-password" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">reset password</h4>
      </div>
      <div class="modal-body centered">
            <form id="reset-password-form" class="form-horizontal style-form" action="{% url "google_login.views.ajaxResetPassword" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                          <input class="form-control" id="password1" type="password" name="password1" minlength="6" maxlength="40" required noSpace="true" value="" placeholder="password..." autofocus>
                          <span class="register-check register-check-error"></span>
                      </div>
              </div>
              <div class="form-group">
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                          <input class="form-control" type="password" name="password2" minlength="6" maxlength="40" required noSpace="true" value="" placeholder="confirm...">
                          <span class="register-check register-check-error"></span>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button type="submit" form="reset-password-form" class="btn btn-block btn-lg btn-success rounded">reset</button>
        </div>
      </div>
    </div>
  </div>
</div>












<!---------------- modal ------------------------------------->
<div id="change-username" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">reset password</h4>
      </div>
      <div class="modal-body centered">
            <form id="change-username-form" class="form-horizontal style-form" action="{% url "google_login.views.changeUsername" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              
	      <div class="form-group">
                <label class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="userName" minlength="6" maxlength="15" required value="" placeholder="Username..." autofocus>
                  <span class="register-check register-check-error"></span>
                </div>
              </div>
              
            </form>
	    
	    
	    
	    
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button type="submit" form="change-username-form" class="btn btn-block btn-lg btn-success rounded">change</button>
        </div>
      </div>
    </div>
  </div>
</div>


        
        
{% endblock %}  <!-- end of modal block -->


{% block extraScript %}
<script>
$(document).ready(function(){
  
  
  {% if not teacherStudent %}
    $("#teacher-student").modal({
        "backdrop" : "static",
        "keyboard" : "false",
    });
    $("#teacher-student").modal("show");
  {%endif%}
  
  
  
  $('.google-authorize').click(function(){
    //popup new window to log in to oauth
    var myWindow = window.open("/google/auth/","_blank","toolbar=no, location=no, menubar=no, scrollbars=yes, resizable=yes, top=100, left=0, width=500, height=600");
   
  });
});


  function syncAccounts(newUserID) {
      //Compare the two user ID's
      var oldUserID = {{ userInfo.user.id }};
      
      //If they don't match redirect
      if (newUserID == oldUserID) {
        location.reload();
      }else{
        //open new popup window
        syncGoogleAccount(oldUserID, newUserID);
      }
  }


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    /************************** check username **********************************************************************************/
	function syncGoogleAccount(oldUserID, newUserID) {
		console.log('In syncGoogleAccount');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.syncGoogleAccount' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }else{
                      location.reload();
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('oldUserID', oldUserID);
            fd.append('newUserID', newUserID);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	
var checkUsernameURI = "{% url 'google_login.views.checkUsername' %}";



{% if myTour %}
    //  Go to http://bootstraptour.com/api/ for documentation
    
    var tour = new Tour({
	name: "tour",
	steps: [
	  {% if not googleUserInfo %}
	    {
	      element: "#addGoogleBtn",
	      title: "Add Google",
	      content: "While this app will work without Google Drive, it is really meant to work with your Google Account...",
	      placement: 'top',
	    },
	  {%endif%}
	    {
	      element: "#fullName-input",
	      title: "Your Name",
	      content: "First, let's check and make sure your name's right...",
	      placement: 'top',
	    },
	    {
	      element: "#updateBtn",
	      title: "Update",
	      content: 'Make sure you "Update" any changes...',
	      placement: 'top',
	    },
	    {
	      element: "#blinky-class",
	      title: "Classes",
	      content: "Now, let's get some class...",
	      backdropPositioning: 'fixed',
	    }
	],
	container: "body",
	keyboard: true,
	storage: false,
	debug: true,
	backdrop: true,
	backdropPadding: 5,
	onEnd: function (tour) {
	  $.ajax({
	    method: "POST",
	    url: "{% url "tourBuilder.views.countTour" %}",
	    data: { tourID: {{ myTour.id }} },
	    dataType: "json",
	  })
	    .done(function( responseText ) {
	      console.log( responseText );
	    });
	},
    });
    
    // Initialize the tour
    tour.init();
    
    // Start the tour
    setTimeout(function(){
      if (!$("#teacher-student").is(':visible')) {
	tour.start();
      }
    },300)
    
    
    $("#blinky-class").click(function(){
      tour.end();
    });
{% endif %}

</script>
<script src="{% static "adminBoot/js/profile.js" %}"></script>
{% endblock %}









