{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Payment{% endblock %}


{% block extraBottomHead %}
  <link href="{% static "index/css/pricing.css" %}?version=1" rel="stylesheet">
{% endblock %}


{% block body %}



  <div id="main-region" class="mt">
      <div class="row">
	<div class="col-xs-12">
          
          
          <div class="showback">
	    <div id="topImage-01" class="bg1">
              <div class="row">
                  <div id="profile-float-photo">
                    <img {% if googleUserInfo %}
                          src="{{ googleUserInfo.googleAvatar }}"
                        {% else %}
                          src="{% static "main_project/images/default_avatar.png" %}"
                        {% endif %}
                          alt="User photo" class="img-thumbnail img-circle">
                      
                  </div>
                </div> <!-- end of row -->
            </div>
	    <div id="profile-01" class="noBg" style="margin-top: 10px;">
                <div class="row">
                  <div class="col-xs-12 text-center">
		    
		    <h1>Thank you!</h1>
		    <h2>Welcome to your DUCKPRO account.</h2>
		    <h3 class="mb">You can cancel your account at any time. Just go to your profile.</h3>
		    
		    <div class="col-xs-12 text-center mb">
		      <a href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=5B6FR3Z5KGXTG">
			      <img src="{% static "paypal_icons/cancelSubscriptionBtn.png" %}" BORDER="0">
		      </a>
		    </div>
		  
			<div>
			      <p><i class="fa fa-check main-color"></i> <strong> Show Your Work</strong> Boxes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Classes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Students</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> eSheets</p>
			      <p><i class="fa fa-check main-color"></i> <strong> BYOD</strong> Works With Any Device</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Auto-Grading</strong> Reports and Downloads</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Live</strong> Student Monitoring</p>
			      <p><strong> Unlimited </strong> Support</p>
			</div>
		  </div>
                </div>
                <br>
		  
		  <!-- PayPal Logo --><table class="mb" border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now Accepting PayPal"></a><div style="text-align:center"><a href="https://www.paypal.com/webapps/mpp/how-paypal-works" target="paypal"><font size="2" face="Arial" color="#0079CD">How PayPal Works</font></a></div></td></tr></table><!-- PayPal Logo -->
		  <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
	    </div> <!-- end of profile-01 -->
          </div> <!-- end of showback -->
          
          
            
        </div>
            
      </div>
  </div> <!-- end of main-region -->
        
        
        

{% endblock %}  <!-- end of body block -->

{% block modal %}
    
{% endblock %}  <!-- end of modal block -->









