{% extends "base.html" %}
{% load staticfiles %}


{% block title %}Profile{% endblock %}



{% block extraBottomHead %}
  <link href="{% static "index/css/pricing.css" %}" rel="stylesheet">
{% endblock %}



{% block body %}



  <div id="main-region" class="mt">
    <div>
      <div class="row">
	<div class="col-xs-12 col-sm-6 col-md-7">
          
          
          <div class="showback">
	    <div id="topImage-01" class="bg1">
              <div class="row">
                  <div id="profile-float-photo">
                    <img {% if googleUserInfo %}
                          src="{{ googleUserInfo.googleAvatar }}"
                        {% else %}
                          src="{% static "main_project/images/default_avatar.png" %}"
                        {% endif %}
                          alt="User photo" class="img-thumbnail img-circle">
                      
                  </div>
                </div> <!-- end of row -->
            </div>
	    <div id="profile-01" class="noBg" style="margin-top: 10px;">
              <form id="profile-form" class="form-horizontal style-form" action="{% url "userInfo_profile.views.profileUpdate" %}" enctype='multipart/form-data' method="post">{% csrf_token %}
                
                <div class="row">
                  <div class="col-xs-12">
                    <h4 style="margin-bottom: 40px;"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Name and Password</h4>
                    
                    {% if classUser.teacher %}
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                          <select class="form-control" name="title">
                            <option value="False">None</option>
                            <option {% ifequal userInfo.title "Mr" %}selected{%endifequal%} value="Mr">Mr</option>
                            <option {% ifequal userInfo.title "Ms" %}selected{%endifequal%} value="Ms">Ms</option>
                            <option {% ifequal userInfo.title "Dr" %}selected{%endifequal%} value="Dr">Dr</option>
                          </select>
                        </div>
                    </div>
		    {% endif %}
                    
                    <div class="form-group">
                      <label class="col-sm-2 col-sm-2 control-label">Name</label>
                      <div class="col-sm-10">
                        <input id="fullName-input" type="text" class="form-control" name="fullName" value="{% if userInfo.user.first_name %}{{ userInfo.user.first_name|capfirst }} {{ userInfo.user.last_name|capfirst }}{%endif%}" minlength="3" maxlength="60" required placeholder="Name...">
                        <span class="register-check register-check-error"></span>
                      </div>
                    </div>
                    
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xs-6 col-sm-offset-2 col-sm-5 col-md-offset-6 col-md-3">
                    <button type="button" class="btn btn-block btn-primary rounded" data-toggle="modal" data-target="#reset-password">Password</button>
                  </div>
                  <div class="col-xs-6 col-sm-5 col-md-3">
                    <button id="updateBtn" type="submit" class="btn btn-block btn-primary rounded">Update</button>
                  </div>
                </div>
              </form>
            </div> <!-- end of profile-02 -->
          </div>
          
          
          
          
          
          <div class="showback">
	    <div id="profile-01" class="noBg">
              <h4><i class="fa fa-angle-right"></i>&nbsp;&nbsp;School</h4>
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-12 col-sm-10">
                    <h3 id="schoolName-span">{% if userInfo.school %}{{ userInfo.school|capfirst }}{%else%}please add your school{%endif%}</h3>
                  </div>
                  <div class="col-xs-offset-9 col-xs-3 col-sm-offset-0 col-sm-2">
                    <button id="show-school" class="btn btn-primary btn-block rounded" data-toggle="modal" data-target="#update-school" >
                      <i class="fa fa-pencil"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
        {% if classUser.teacher and not bPaidUp %}
          <div class="showback">
            <h3>Your Accounts</h3>
	    <div id="auth-connections" class="profile-card">
              <div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="media">
                      <div class="pull-left">
                        <img class="media-object rounded" src="{% static "adminBoot/img/duck.png" %}" alt="google-thumbnail">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Your Duck Soup Account:</h5>
                        <h5 class="media-heading text-danger">FREE ACCOUNT</h5>
                        <strong>Username: </strong><span id="username-label">{% if userInfo.user.username %}{{ userInfo.user.username }}{%endif%}</span>
                        <div class="row">
                          <div class="col-xs-12">
                            <button class="btn btn-xs btn-info rounded" data-toggle="modal" data-target="#change-username">change username</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if googleUserInfo %}
                    <div class="media">
                      <div class="pull-left">
                        <img class="rounded" src="{% static "main_project/images/google-logo.png" %}" width="50" alt="google-thumbnail">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">You are connected to the Google account:</h5>
                        <strong>Email: </strong>{% if userInfo.user.email %}{{ userInfo.user.email }}{%endif%}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div id="account-connection-mssg">
                </div>
              </div>
              <div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		  <button id="addGoogleBtn" class="btn btn-block btn-social btn-danger rounded {% if googleUserInfo %}disabled{%endif%} google-authorize" type="button" style="height: 50px;">
		    <i class="fa fa-google-plus fa-2x" style="line-height: 30px;vertical-align: middle;"></i>
		    <span style="line-height: 30px;vertical-align: middle;">&nbsp;&nbsp;Connect with Google</span>
		  </button>
		</div>
	      </div>
	      
              <div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		  <button class="btn btn-block btn-social btn-primary rounded" type="button" style="height: 50px;margin-top: 20px;" data-toggle="modal" data-target="#help-request-modal">
		    <i class="fa fa-bullhorn fa-2x" style="line-height: 30px;vertical-align: middle;"></i>
		    <span style="line-height: 30px;vertical-align: middle;">&nbsp;&nbsp;Need Some Help!</span>
		  </button>
		</div>
	      </div>
	      
          </div>
        </div>
          </div>
            
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-5">
          
	
	    <!---------------------------------------- price table ---------------------------->
	    <div class="col-xs-12">
		  <div class="pricing-table pricing-table-highlighted" style="background-color: #fff;">
			<div class="pricing-table-header">
			      <span class="heading">GET A DUCKPRO ACCOUNT</span>
			      <span class="price-value" style="background-color: #d9534f;color: #fff;">ONLY $<span>9</span>.99/ mo<span class="mo"><!--/mo--></span></span>
			</div>
			<div class="pricing-table-space"></div>
			<div class="pricing-table-text text-center">
			      <a href="{% url 'worksheet_project.views.initiatePayment' %}" class="btn btn-danger btn-block btn-lg" style="font-size: 25px;">GET STARTED</a>
			</div>
			<div class="pricing-table-features">
			      <p><i class="fa fa-check main-color"></i> <strong> Show Your Work</strong> Boxes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Classes</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> Students</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Unlimited </strong> eSheets</p>
			      <p><i class="fa fa-check main-color"></i> <strong> BYOD</strong> Works With Any Device</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Auto-Grading</strong> Reports and Downloads</p>
			      <p><i class="fa fa-check main-color"></i> <strong> Live</strong> Student Monitoring</p>
			      <p><strong> Unlimited </strong> Support</p>
			</div>
			<div class="pricing-table-sign-up text-danger">
			      {{ monthlyForm.render }}
			      <h5>No Paypal Account?</h5>
			      <h5>Paypal Accepts Credit Cards!</h5>
			</div>
		  </div>
	    </div>
	    <!---------------------------------------- end of price table ---------------------------->

        {% else %}              
        </div>
            
        <div class="col-xs-12 col-sm-6 col-md-5">
          
	  
          <div class="showback">
            <h3>Your Accounts</h3>
	    <div id="auth-connections" class="profile-card">
              <div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="media">
                      <div class="pull-left">
                        <img class="media-object rounded" src="{% static "adminBoot/img/duck.png" %}" alt="google-thumbnail">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">Your Duck Soup Account:</h5>
			{% if not bPaidUp %}
                        <h5 class="media-heading text-danger">FREE ACCOUNT</h5>
			{% else %}
                        <h5 class="media-heading text-danger">DUCKPRO ACCOUNT   <span><button class="btn btn-info rounded btn-xs" data-toggle="modal" data-target="#delete-account-modal">Manage Your Account</button></span></h5>
			{% endif %}
                        <strong>Username: </strong><span id="username-label">{% if userInfo.user.username %}{{ userInfo.user.username }}{%endif%}</span>
                        <div class="row">
                          <div class="col-xs-12">
                            <button class="btn btn-xs btn-info rounded" data-toggle="modal" data-target="#change-username">change username</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% if googleUserInfo %}
                    <div class="media">
                      <div class="pull-left">
                        <img class="rounded" src="{% static "main_project/images/google-logo.png" %}" width="50" alt="google-thumbnail">
                      </div>
                      <div class="media-body">
                        <h5 class="media-heading">You are connected to the Google account:</h5>
                        <strong>Email: </strong>{% if userInfo.user.email %}{{ userInfo.user.email }}{%endif%}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div id="account-connection-mssg">
                </div>
              </div>
              <div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		  <button id="addGoogleBtn" class="btn btn-block btn-social btn-danger rounded {% if googleUserInfo %}disabled{%endif%} google-authorize" type="button" style="height: 50px;">
		    <i class="fa fa-google-plus fa-2x" style="line-height: 30px;vertical-align: middle;"></i>
		    <span style="line-height: 30px;vertical-align: middle;">&nbsp;&nbsp;Connect with Google</span>
		  </button>
		</div>
	      </div>
	      
              <div class="row">
		<div class="col-xs-6 col-xs-offset-3">
		  <button class="btn btn-block btn-social btn-primary rounded" type="button" style="height: 50px;margin-top: 20px;" data-toggle="modal" data-target="#help-request-modal">
		    <i class="fa fa-bullhorn fa-2x" style="line-height: 30px;vertical-align: middle;"></i>
		    <span style="line-height: 30px;vertical-align: middle;">&nbsp;&nbsp;Need Some Help!</span>
		  </button>
		</div>
	      </div>
	      
          </div>
        </div>
          </div>
	  
	  
	  
        {% endif %}  <!---- end of teacher --->
	  
	  
	</div>
    </div>
  </div>
        
        
        

{% endblock %}  <!-- end of body block -->

{% block modal %}
<!---------------- modal ------------------------------------->
<div id="help-request-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">What can we help you with?</h4>
      </div>
      <div class="modal-body centered">
            <form id="help-request-form" class="form-horizontal style-form" action="{% url "contact_me.views.contact" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                <div class="col-xs-10 col-xs-offset-1">
                  <textarea class="form-control" type="text" name="message" minlength="3" maxlength="140" required value="" placeholder="what's up?..." autofocus></textarea>
                </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-offset-6 col-xs-6 col-sm-3 col-sm-offset-9">
          <button type="submit" form="help-request-form" class="btn btn-block btn-primary rounded">help me!</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="update-school" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">School</h4>
      </div>
      <div class="modal-body centered">
            <form id="update-school-form" class="form-horizontal style-form" action="{% url "userInfo_profile.views.school" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                <label class="col-sm-3 control-label">School Name</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="schoolName" minlength="3" maxlength="65" required value="{% if userInfo.school %}{{ userInfo.school|capfirst }}{%endif%}" placeholder="School Name..." autofocus>
                  <span class="register-check register-check-error"></span>
                </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-offset-6 col-xs-6 col-sm-3 col-sm-offset-9">
          <button id="update-school-submit-button" type="submit" form="update-school-form" class="btn btn-block btn-primary rounded">update</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ------------------------------------->
<div id="teacher-student" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <h4 class="modal-title">Who are you?</h4>
      </div>
      <div class="modal-body text-center bottom-rounded">
        <div class="row">
          <form id="update-teacherStudent-form" class="form-horizontal style-form" action="{% url "userInfo_profile.views.teacherStudent" %}" enctype='multipart/form-data' method="post">{% csrf_token %}
            <input id="teacher_or_student" name="teacherStudent" type="hidden" value="" />
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-success rounded" onclick="$('#teacher_or_student').val('teacher');">teacher</button>
            </div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-block btn-lg btn-success rounded" onclick="$('#teacher_or_student').val('student');">student</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>







<!---------------- modal ----------------------------------->
<div id="reset-password" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">reset password</h4>
      </div>
      <div class="modal-body centered">
            <form id="reset-password-form" class="form-horizontal style-form" action="{% url "google_login.views.ajaxResetPassword" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              <div class="form-group">
                
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                          <input class="form-control" id="password1" type="password" name="password1" minlength="6" maxlength="40" required noSpace="true" value="" placeholder="password..." autofocus>
                          <span class="register-check register-check-error"></span>
                      </div>
              </div>
              <div class="form-group">
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
                          <input class="form-control" type="password" name="password2" minlength="6" maxlength="40" required noSpace="true" value="" placeholder="confirm...">
                          <span class="register-check register-check-error"></span>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button type="submit" form="reset-password-form" class="btn btn-block btn-lg btn-success rounded">reset</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------- modal ----------------------------------->
<div id="delete-account-modal" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title"><span class="text-danger">DELETE</span> this account?</h4>
      </div>
      <div class="modal-body centered">
            <form id="delete-user-form" class="form-horizontal style-form" action="{% url "worksheet_creator.page_view_ajax.deleteUser" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
	      <div class="form-group">
                
                      <div class="col-xs-12 col-sm-8 col-md-offset-2 text-center">
			  <label>Can I ask why?</label>
                          <textarea class="form-control" name="reason" minlength="3" maxlength="140" required placeholder="was it something I said?..." autofocus></textarea>
                      </div>
              </div>
            </form>
      </div>
      <div class="modal-footer bottom-rounded">
	<div class="row mb">
	  <div class="col-xs-12 text-center">
	    <button type="button" class="btn btn-default rounded" data-dismiss="modal">close</button>
	    <button type="submit" form="delete-user-form" class="btn btn-danger rounded mb">DELETE ACCOUNT</button>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12 text-center">
	    <a href="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=5B6FR3Z5KGXTG">
		    <img src="{% static "paypal_icons/cancelSubscriptionBtn.png" %}" BORDER="0">
	    </a>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>












<!---------------- modal ------------------------------------->
<div id="change-username" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">reset password</h4>
      </div>
      <div class="modal-body centered">
            <form id="change-username-form" class="form-horizontal style-form" action="{% url "google_login.views.changeUsername" %}" enctype='multipart/form-data' method="post" autocomplete="off">{% csrf_token %}
              
	      <div class="form-group">
                <label class="col-sm-3 control-label">Username</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="userName" minlength="6" maxlength="15" required value="" placeholder="Username..." autofocus>
                  <span class="register-check register-check-error"></span>
                </div>
              </div>
              
            </form>
	    
	    
	    
	    
      </div>
      <div class="modal-footer bottom-rounded">
        <div class="col-xs-12 col-sm-8 col-md-offset-2">
          <button type="submit" form="change-username-form" class="btn btn-block btn-lg btn-success rounded">change</button>
        </div>
      </div>
    </div>
  </div>
</div>


        
        
{% endblock %}  <!-- end of modal block -->


{% block extraScript %}
<script>
$(document).ready(function(){
  
  
  {% if not teacherStudent %}
    $("#teacher-student").modal({
        "backdrop" : "static",
        "keyboard" : "false",
    });
    $("#teacher-student").modal("show");
  {%endif%}
  
  
  
  $('.google-authorize').click(function(){
    //popup new window to log in to oauth
    var myWindow = window.open("/google/auth/","_blank","toolbar=no, location=no, menubar=no, scrollbars=yes, resizable=yes, top=100, left=0, width=500, height=600");
   
  });
});


  function syncAccounts(newUserID) {
      //Compare the two user ID's
      var oldUserID = {{ userInfo.user.id }};
      
      //If they don't match redirect
      if (newUserID == oldUserID) {
        location.reload();
      }else{
        //open new popup window
        syncGoogleAccount(oldUserID, newUserID);
      }
  }


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}


    

var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
    /************************** check username **********************************************************************************/
	function syncGoogleAccount(oldUserID, newUserID) {
		console.log('In syncGoogleAccount');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.syncGoogleAccount' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }else{
                      location.reload();
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('oldUserID', oldUserID);
            fd.append('newUserID', newUserID);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	
var checkUsernameURI = "{% url 'google_login.views.checkUsername' %}";



{% if myTour %}
    //  Go to http://bootstraptour.com/api/ for documentation
    
    var tour = new Tour({
	name: "tour",
	steps: [
	  {% if not googleUserInfo %}
	    {
	      element: "#addGoogleBtn",
	      title: "Add Google",
	      content: "While this app will work without Google Drive, it is really meant to work with your Google Account...",
	      placement: 'top',
	    },
	  {%endif%}
	    {
	      element: "#fullName-input",
	      title: "Your Name",
	      content: "First, let's check and make sure your name's right...",
	      placement: 'top',
	    },
	    {
	      element: "#updateBtn",
	      title: "Update",
	      content: 'Make sure you "Update" any changes...',
	      placement: 'top',
	    },
	    {
	      element: "#blinky-class",
	      title: "Classes",
	      content: "Now, let's get some class...",
	      backdropPositioning: 'fixed',
	    }
	],
	container: "body",
	keyboard: true,
	storage: false,
	debug: true,
	backdrop: true,
	backdropPadding: 5,
	onEnd: function (tour) {
	  $.ajax({
	    method: "POST",
	    url: "{% url "tourBuilder.views.countTour" %}",
	    data: { tourID: {{ myTour.id }} },
	    dataType: "json",
	  })
	    .done(function( responseText ) {
	      console.log( responseText );
	    });
	},
    });
    
    // Initialize the tour
    tour.init();
    
    // Start the tour
    setTimeout(function(){
      if (!$("#teacher-student").is(':visible')) {
	tour.start();
      }
    },300)
    
    
    $("#blinky-class").click(function(){
      tour.end();
    });
{% endif %}

</script>
<script src="{% static "adminBoot/js/profile.js" %}"></script>
{% endblock %}









